// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{margin:0; padding:0;}

body{
	background:#eee;
}

header{
	width:92.7%;
	padding:50px;
	background:#EB0898;
}

	header h1{
		color:#fff;
		text-transform:uppercase;
	}

section.content{
	width:80%;
	margin:0 auto;
}
	
	section.content .main-title{
		display:block;
		margin:30px 0;
		text-align:center;
		font-size:30px;
	}

	section.content ol{
		width:100%;
		float:left;
	}

		section.content ol li{
			float:left;
			margin:20px 30px;
		}
			section.content ol li h2{
				margin:0 0 10px 0;
			}
			section.content ol li progess{}
			section.content ol li span{}

	section.content .new-place{
		float:left;
		margin: 80px 0 0 0;
		font-size:16px;
		text-transform:uppercase;
	}